<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>

<a href="/home">Main Page</a>

<h2 th:if="${insuranceList == null}">This user don't have policy</h2>

<h4 th:if="${insuranceList != null}">First name: <span th:text="${insuranceList.firstName}"></span> </h4>
<h4 th:if="${insuranceList != null}">Last name: <span th:text="${insuranceList.lastName}"></span> </h4>
<br>
<table th:if="${insuranceList != null}" width="300" hieght="900">
    <tr>
        <th>your property</th>
        <th>insurance type</th>
    </tr>
    <tr th:each="i : ${insuranceList.getPersonalPolicy()}">
        <td th:text="${i.property}"></td>
        <td th:text="${i.type}"></td>
    </tr>
</table>

</body>
</html>